<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Sort
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("Sort By Minimum Salary", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("Sort By Maximum Salary", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("Sort By Date", jobs_path ) %>

        </li>
    </ul>
</div>

<br>
<br>
<br>
<br>



<table class="table table-boldered">
  <thead>
      <tr>
          <td>Job Title</td>
          <td>Minimum Salary</td>
          <td>Maximam Salary</td>
          <td>Listing Date</td>
      </tr>

  </thead>
  <tbody>

  <% @jobs.each do |job| %>
  <tr>
    <td>
       <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
       <%= job.wage_lower_bound %>
    </td>
     <td>
        <%= job.wage_upper_bound %>
     </td>

      <td>
        <%= job.created_at %>
      </td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://i.ytimg.com/vi/X_UsI8EFyf8/maxresdefault.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>我很丑</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://www.ecommercebrasil.com.br/wp-content/uploads/2015/08/UX-no-e-commerce-a-import%C3%A2ncia-dos-testes-de-usabilidade.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>但是我每天都在装修</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://i.ytimg.com/vi/KuK6EDk2T6s/maxresdefault.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>请投我一票咯</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
